<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="style/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="box" id="heading">
        <h1><%= day %></h1>
      </div>

      <div class="box">
        <% for (let i = 0; i < newListItems.length; i++){ %>
        <div class="item">
          <input type="checkbox" />
          <p><%= newListItems[i] %></p>
        </div>
        <% } %>

        <form action="/" method="post">
          <input
            type="text"
            name="toDoItem"
            id=""
            placeholder="New Item"
            autocomplete="off"
          />
          <button type="submit" name="list" value=<%=listTitle %>>+</button>
        </form>
      </div>
    </div>
  </body>
  <footer>
    <p>Copyright: Absolutely no Copyright.</p>
    <p>Created By: Savan Patel</p>
  </footer>
</html>
