<%- include ('partials/header.ejs'); -%>

<h1>About</h1>
<p>Hello, and welcome! I'm Savan Patel, and I'm thrilled that you've found your way to my about me page. If you'd like to get in touch with me, please don't hesitate to reach out at sawanpatel2508@gmail.com. For more information about my work and background, I invite you to visit my website at https://savan2508.github.io/savan-website/.</p>
<p>As a data analyst and full-stack web developer, I possess a diverse skill set that enables me to tackle a wide range of projects. I am highly proficient in programming languages such as Python, C++, and JavaScript, allowing me to develop robust and efficient solutions. Beyond technical expertise, I also excel as a project manager. With a strong focus on meeting deadlines, I have a proven track record of successfully completing numerous projects throughout my career.</p>
<p>I believe in delivering exceptional results while maintaining open lines of communication. Whether you're interested in discussing data analysis, web development, or project management, I'm eager to connect and explore opportunities together. Let's collaborate to bring your ideas to life and achieve remarkable outcomes.</p>

<%- include ('partials/footer.ejs'); -%>