<%- include ('partials/header.ejs'); -%>

<h1><%= pageTitle %></h1>

<% postContent.split('\n').forEach(function(paragraph) { %>
    <p><%= paragraph %></p>
  <% }) %>


<%- include ('partials/footer.ejs'); -%>